body {
    background: var(--bg);
    font-family: cursive;
    font-style: italic;
    font-size: 100px;
    margin: 10px;
}

.light-theme {
    --bg: #FFFFFF;
    --fontColor: #F8C8DC;
    --btnBg: #000000;
    --btnFontColor: #FFFFFF;
}

.dark-theme {
    --bg: #B19CD9;
    --fontColor: #000000;
    --btnBg: #FFFFFF;
    --btnFontColor: #000000;
}

.btn {
    position: absolute;
    top: 20px;
    left:250px;
    height:200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.button {
    color: #F8C8DC;
    background-color: coral;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    border-radius: 50%;
}